<script>phoneNumbersCount = <%= @staff.phoneNumbers.length %>;</script>

<%= form_for @staff do |staff| %>
  <div class="container"><%= staff.fields_for :name do |name| %>
    <h3>Name</h3>
    <div class="form-group row">
      <div class="col-sm-3">
        <label class="control-label">Title</label>
        <%= name.text_field :title, class: 'form-control rounded', value: @staff.name.title %>
        <p class ="text-danger"><%= @staff.name.errors[:title][0] %></p>
      </div>
      <div class="col-sm-3">
        <label class="control-label">First</label>
        <%= name.text_field :first, class: 'form-control rounded', value: @staff.name.first %>
        <p class ="text-danger"><%= @staff.name.errors[:first][0] %></p>
      </div>
      <div class="col-sm-3">
        <label class="control-label">Last</label>
        <%= name.text_field :last, class: 'form-control rounded', value: @staff.name.last %>
        <p class ="text-danger"><%= @staff.name.errors[:last][0] %></p>
      </div>
      <div class="col-sm-3">
        <label class="control-label">Preferred</label>
        <%= name.text_field :preferred, class: 'form-control rounded', value: @staff.name.preferred %>
      </div>
    </div>
  <% end %></div>

  <div class="container">
    <h3>Personal Details</h3>
    <div class="form-group row">
      <div class="col-sm-4">
        <label class="control-label">Date of Birth</label>
        <%= staff.date_field :DOB, class: 'form-control rounded', value: @staff.DOB %>
        <p class ="text-danger"><%= @staff.errors[:DOB][0] %></p>
      </div>
      <div class="col-sm-4">
        <label class="control-label">Gender</label>
        <%= staff.text_field :gender, class: 'form-control rounded', value: @staff.gender %>
        <p class ="text-danger"><%= @staff.errors[:gender][0] %></p>
      </div>
      <div class="col-sm-4">
        <label class="control-label">Address</label>
        <%= staff.text_field :address, class: 'form-control rounded', value: @staff.address %>
        <p class ="text-danger"><%= @staff.errors[:address][0] %></p>
      </div>
    </div>
  </div>

  <div class="container">
    <h3>Account Details</h3>
    <div class="form-group row">
      <div class="col-sm-4">
        <label class="control-label">Role</label>
        <%= staff.select( :role, options_for_select([['Administrator', 'admin'], ['Secretary', 'secretary'], ['Doctor', 'doctor'], ['Nurse', 'nurse']], @staff.role), {}, {class: 'form-control rounded' })%>
      </div>
      <div class="col-sm-4">
        <label class="control-label">Password</label>
        <%= staff.password_field :password, class: 'form-control rounded' %>
        <p class ="text-danger"><%= @staff.errors[:password][0] %></p>
      </div>
      <div class="col-sm-4">
        <label class="control-label">Confirm Password</label>
        <%= staff.password_field :confirm_pass, class: 'form-control rounded' %>
        <p class ="text-danger"><%= @staff.errors[:confirm_pass][0] %></p>
      </div>
    </div>
  </div>

  <div class="container">
    <h3>Phone Numbers</h3>
    <table id="staff_phoneNumbers" class="table">
      <tr>
        <th style="width:25%">Type</th>
        <th width="width:75%">Number</th>
      </tr>
      <% @staff.phoneNumbers.each_with_index do |phoneNumber, index| %>
        <tr>
          <td>
            <input type="hidden" name='staff[phoneNumbers][<%= index %>][id]' value="<%= phoneNumber.id %>"/>
            <select class='form-control' name='staff[phoneNumbers][<%= index %>][type]'>
              <option value='mobile' <%= "selected" if phoneNumber.type.eql? 'mobile' %> > Mobile</option>
              <option value='home' <%= "selected" if phoneNumber.type.eql? 'home' %> >Home</option>
              <option value='work' <%= "selected" if phoneNumber.type.eql? 'work' %> >Work</option>
            </select>
          </td>
          <td><input class='form-control' type='text' name='staff[phoneNumbers][<%= index %>][number]' value="<%= phoneNumber.number %>"></td>
        </tr>
      <% end %>
    </table>
    <button class="btn" type="button" onclick="appendPhoneNumber('staff_phoneNumbers', StaffPhoneNumberHTML)">Add Phone Number</button>
    <p class="text-danger"><%= @staff.errors[:phoneNumbers][0] %></p>
  </div>

  <!-- TODO: This needs to be disabled if the new user is not a practitioner type. -->
  <div class="container">
    <h3>Practitioner Details</h3>
    <div class="form-group row">
      <div class="col-sm-4 form-group" >
        <label class="control-label">Licence Number</label>
        <%= staff.text_field :licenceNb, class: 'form-control rounded', value: @staff.licenceNb %>
      </div>
      <div class="col-sm-4 form-group">
        <label class="control-label">Licence Received</label>
        <%= staff.date_field :licenceDate, class: 'form-control rounded', value: @staff.licenceDate %>
      </div>
      <div class="col-sm-4 form-group">
        <label class="control-label">Department</label>
        <%= staff.text_field :department, class: 'form-control rounded', value: @staff.department %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="form-group row">
      <div class="col-md-1">
        <button type="submit" class="btn btn-primary rounded">Confirm</button>
      </div>
    </div>
  </div>
<% end %>
