<p id="notice"><%= notice %></p>

<h1>All Staff</h1>

<table class="table">
  <thead>
    <tr>
      <th>Staff Id</th>
      <th>Name</th>
      <th>Role</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody><% @staffs.each do |staff| %>
    <tr>
      <td><%= staff.refNb %></td>
      <td><%= staff.name.first %> <%= staff.name.last %></td>
      <td><%= staff.role %></td>
      <td><%= link_to 'Show', staff %></td>
      <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
    </tr>
  <% end %></tbody>
</table>
<br>
<%= link_to 'New Staff', new_staff_path %>
