<p id="notice"><%= notice %></p>

<h1>Personal Details</h1>
<p>
  <strong>Name:</strong>
  <%= @staff.fullName %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @staff.gender %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @staff.DOB %>
</p>

<p>
  <strong>Address:</strong>
  <%= @staff.address %>
</p>

<p>
  <strong>Role:</strong>
  <%= @staff.role %>
</p>

<% if ['doctor', 'nurse'].include? @staff.role %>
  <p>
    <strong>Department:</strong>
    <%= @staff.department %>
  </p>

  <h3>Licence Info:</h3>
  <p>
    <%= @staff.licenceNb %>, Received <%= @staff.licenceDate %>
  </p>
<% end %>

<h4>Contacts:</h4>
<ul>
  <% @staff.phoneNumbers.each do |phoneNumber| %>
    <li><%= "#{phoneNumber.type}: #{phoneNumber.number}" %></li>
  <% end %>
</ul>

<% if ['doctor', 'nurse'].include? @staff.role and @upcoming_bookings.length > 0%>
<h4>Upcoming Bookings:</h4>
<ul>
  <% @upcoming_bookings.each do |booking| %>
    <li><%= "#{booking.room.refNb}: #{booking.startDt} - #{booking.endDt}" %></li>
  <% end %>
</ul>
<% end %>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
