<% provide(:title, "Log in") %>
<div class="container">
  <h1 class="offset-md-3">Log in</h1>
  <%= form_for(:session, url: login_path) do |f| %>
    <div class="form-group row">
      <div class="col-md-6 offset-md-3">
        <label>Staff #</label>
        <%= f.text_field :staffID, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6 offset-md-3">
        <label>Password</label>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md offset-md-3">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    </div>

    <% unless flash[:failedLogin].nil? %>
      <div class="alert alert-danger col-md-6 offset-md-3">
        <span class="text-danger">
          <%= flash[:failedLogin] %>
        </span>
      </div>
    <% end %>

  <% end %>
</div>
