
<%= form_for @booking do |booking| %>
  <% if false and booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul><% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %></ul>
    </div>
  <% end %>

  <div class="container">
    <div class="form-group row">
      <div class="col-md-4 col-sm-6">
        <label>Booking For</label>
        <% if @booking.patient %>
          <%= booking.hidden_field :patient, value: @booking.patient.id %>
          <input class="form-control" readonly value="<%= @booking.patient.fullName %>"/>
        <% else %>
          <%= booking.select :patient, options_for_select(Patient.all.collect {|patient| ["#{patient.refNb} - #{patient.fullName}", patient.id]}), {}, {class: "form-control"} %>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <label>Room Number</label>
        <%= booking.select :room, options_for_select(Room.all.map {|r| [r.refNb, r.id] }), {}, {class: "form-control"} %>
      </div>
      <div class="col-md-4 col-sm-6">
        <label>Practitioners Scheduled</label>
        <%= booking.collection_select :practitioners, Staff.where(:role.in => ['doctor', 'nurse']), :id, :fullName, {include_hidden: false}, {class: "form-control", multiple: true} %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label>Booking Start</label>
        <%= booking.datetime_field :startDt, class: "form-control rounded" %>
        <p class ="text-danger"><%= @booking.errors[:startDt][0] %></p>
      </div>
      <div class="col-sm-6">
        <label>Booking End</label>
        <%= booking.datetime_field :endDt, class: "form-control rounded" %>
        <p class ="text-danger"><%= @booking.errors[:endDt][0] %></p>
      </div>
    </div>
  </div>

  <div class="container">
    <h3>Additional Notes</h3>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= booking.text_area :notes, class: "form-control"%>
      </div>
    </div>
  </div>

  <div class="container">
    <button type="submit" class="btn btn-primary">Confirm Booking</button>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      $('select').selectpicker();
  });
</script>
