<p id="notice"><%= notice %></p>
<h1>Bookings</h1>
<%= link_to 'New Booking', new_booking_path %>
<%= content_tag(:div, "", id: 'booking-container', data: {source: @bookings})%>
<%= content_tag(:div, "", id: 'room-container', data: {source: @rooms})%>
<%= content_tag(:div, "", id: 'patient-container', data: {source: @patients})%>
<br>

<div id="filter" class="form-group row">
  <div class="col-2">
    <select class='form-control' id="filter-mode">
      <option value='room'>Room</option>
      <option value='patient'>Patient</option>
      <option value='staff'>Staff</option>
    </select>
  </div>
  <div class="col-3"><input type="text" class="form-control rounded" id="filter"></div>
  <div class="col-1"><button class="btn" onclick="createSchedule()">Filter</button></div>
  <div class="col-3 offset-3">
    <button class="btn" name="prev">Previous</button>
    <button class="btn" name="today">Today</button>
    <button class="btn" name="next">Next</button>
  </div>
</div>

<div class="form-group row">
  <div id="schedule" style="bottom: 0"></div>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Room</th>
    <th>Patient</th>
    <th>Status</th>
    <th>From</th>
    <th>Til</th>
    <th>Notes</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.room.refNb %></td>
      <td><%= booking.patient.fullName %></td>
      <td><%= booking.status %></td>
      <td><%= booking.startDt %></td>
      <td><%= booking.endDt %></td>
      <td><%= booking.notes %></td>
      <td><%= link_to 'Show', booking %></td>
      <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
      <td><%= link_to 'Remove', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function() {
        createSchedule();
    })
</script>

