<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @booking.room.refNb %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @booking.patient.fullName %>
</p>

<p>
  <strong>Practitioner(s):</strong>
  <ul>
    <% @booking.practitioners.each do |practitioner| %>
      <li><%= practitioner.fullName %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>Booking Start:</strong>
  <%= @booking.startDt %>
</p>

<p>
  <strong>Booking End:</strong>
  <%= @booking.endDt %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @booking.notes %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
