<script> emergencyContactsCount = <%= @patient.emergencyContacts.length %>;</script>
<script>phoneNumbersCount = <%= @patient.personalDetails.phoneNumbers.length %>;</script>

<%= form_for @patient do |patient| %>
  <div class="container"><%= patient.fields_for :personalDetails do |details| %>
    <h3>Personal Details</h3>
    <div class="form-group row"><%= details.fields_for :name do |name| %>
      <div class="col-sm-3" >
        <label class="control-label">Title</label>
        <%= name.text_field :title, class: 'form-control' %>
        <p class ="text-danger"><%= @patient.personalDetails.name.errors[:title][0] %></p>
      </div>
      <div class="col-sm-3" >
        <label class="control-label">First Name</label>
        <%= name.text_field :first, class: 'form-control' %>
        <p class ="text-danger"><%= @patient.personalDetails.name.errors[:first][0] %></p>
        <p class ="text-danger"><%=  %></p>
      </div>
      <div class="col-sm-3" >
        <label class="control-label">Last Name</label>
        <%= name.text_field :last, class: 'form-control' %>
        <p class ="text-danger"><%= @patient.personalDetails.name.errors[:last][0] %></p>
        <p class ="text-danger"><%=  %></p>
      </div>
      <div class="col-sm-3" >
        <label class="control-label">Preferred Name</label>
        <%= name.text_field :preferred, class: 'form-control' %>
      </div>
    <% end %></div>
    <div class="form-group row">
      <div class="col-sm-3">
        <label class="control-label">Gender</label>
        <%= details.text_field :gender, class: 'form-control' %>
        <p class ="text-danger"><%= @patient.personalDetails.errors[:gender][0] %></p>

      </div>
      <div class="col-sm-3">
        <label class="control-label">Email Address</label>
        <%= details.text_field :email, class: 'form-control' %>
      </div>
      <div class="col-sm-3" >
        <label class="control-label">Date of Birth</label>
        <%= details.date_field :DOB, class: 'form-control' %>
        <p class ="text-danger"><%= @patient.personalDetails.errors[:DOB][0] %></p>
      </div>
      <div class="col-sm-3">
        <label class="control-label">Address</label>
        <%= details.text_field :address, class: 'form-control' %>
        <p class ="text-danger"><%= @patient.personalDetails.errors[:address][0] %></p>
      </div>
    </div>
    <div class="form-group">
      <h4> Phone Numbers </h4>
      <table id="patient_personalDetails_phoneNumbers" class="table">
        <tr>
          <th width="25%">Type</th>
          <th width="75%">Number</th>
        </tr>
        <% @patient.personalDetails.phoneNumbers.each_with_index do |phoneNumber, index| %>
          <tr>
            <td>
              <input type="hidden" name='patient[personalDetails][phoneNumbers][<%= index %>][id]' value="<%= phoneNumber.id %>"/>
              <select class='form-control' name='patient[personalDetails][phoneNumbers][<%= index %>][type]'>
                <option value='mobile' <%= "selected" if phoneNumber.type.eql? 'mobile' %> > Mobile</option>
                <option value='home' <%= "selected" if phoneNumber.type.eql? 'home' %> >Home</option>
                <option value='work' <%= "selected" if phoneNumber.type.eql? 'work' %> >Work</option>
              </select>
            </td>
            <td><input class='form-control' type='text' name='patient[personalDetails][phoneNumbers][<%= index %>][number]' value="<%= phoneNumber.number %>"></td>
          </tr>
        <% end %>
      </table>
      <button class="btn" type="button" onclick="appendPhoneNumber('patient_personalDetails_phoneNumbers', PatientPhoneNumberHTML)">Add Phone Number</button>

      <p class ="text-danger"><%= @patient.personalDetails.errors[:phoneNumbers][0] %></p>
    </div>
  <% end %></div>

  <div class="container">
    <h3>Emergency Contacts</h3>
    <table id="patient_emergencyContacts" class="table">
      <tr>
        <th width="20%">Name</th>
        <th width="20%">Relation</th>
        <th width="20%">Address</th>
        <th width="20%">Phone Number</th>
        <th width="20%">Next of Kin?</th>
      </tr>
      <% @patient.emergencyContacts.each_with_index do |emergencyContact, index| %>
        <input type="hidden" name='patient[emergencyContacts][<%= index %>][id]' value="<%= emergencyContact.id %>"/>
        <tr>
          <td><input class='form-control' type='text' name='patient[emergencyContacts][<%= index %>][name]' value="<%= emergencyContact.name %>"></td>
          <td><input class='form-control' type='text' name='patient[emergencyContacts][<%= index %>][relation]' value="<%= emergencyContact.relation %>"></td>
          <td><input class='form-control' type='text' name='patient[emergencyContacts][<%= index %>][address]' value="<%= emergencyContact.address %>"></td>
          <td><input class='form-control' type='text' name='patient[emergencyContacts][<%= index %>[phoneNumber]' value="<%= emergencyContact.phoneNumber %>"></td>
          <td><input class='checkbox' type='checkbox' name='patient[emergencyContacts][<%= index %>][isNextOfKin]' ></td>
        </tr>
      <% end %>
    </table>
    <button class="btn" type="button" onclick="appendEmergencyContact('patient_emergencyContacts', EmergencyContactHTML)">Add Emergency Contact</button>
  </div>
  <br>

  <div class="container"><%= patient.fields_for :insuranceDetails do |details| %>
    <h3>Insurance Details</h3>
    <div class="form-group row">
      <div class="col-sm-4">
        <label class="control-label">Medicare Number</label>
        <%= details.text_field :medicareNumber, class: 'form-control' %>
      </div>
      <div class="col-sm-4">
        <label class="control-label">Medicare Reference</label>
        <%= details.text_field :medicareRef, class: 'form-control' %>
      </div>
      <div class="col-sm-4" >
        <label class="control-label">Medicare Expiry</label>
        <%= details.date_field :medicareExpiry, class: 'form-control' %>
      </div>
    </div>
  <% end %></div>

  <div class="container">
    <button type="submit" class="btn btn-primary">Confirm Patient</button>
  </div>
<% end %>