<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table class="table">
  <thead>
    <tr>
      <th>Patient #</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td style="vertical-align:middle"><%= patient.refNb %></td>
        <td style="vertical-align:middle"><%= patient.fullName %></td>
        <td style="vertical-align:middle"><%= link_to 'Show', patient %></td>
        <td style="vertical-align:middle"><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td style="vertical-align:middle"><button type="button" onclick="$('#triage_queue_patient').val('<%= patient.id %>')" class="btn btn-primary" style="font-size: 10pt" data-toggle="modal" data-target="#triageModal">Add to Triage Queue</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Patient', new_patient_path %>

<div class="modal fade" id="triageModal" tabindex="-1" role="dialog" aria-labelledby="triageModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%= form_for @queue_item, :url => url_for(controller: "triage_queues", action: :create) do |form| %>
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="triageModal">Notes for Patient Triage</h3>
      </div>
      <div class="modal-body">
          <%= form.hidden_field :patient %>
          <%= form.text_area :notes, class: 'form-control', placeholder: 'Optional'%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add Patient to Queue</button>
      </div>
    </div>
    <% end %>
  </div>
</div>
