<p id="notice"><%= notice %></p>

<h1>Personal Details</h1>
<p>
  <strong>Name:</strong>
  <%= @patient.fullName %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.personalDetails.gender %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @patient.personalDetails.DOB %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.personalDetails.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.personalDetails.address %>
</p>

<h1>Insurance Details</h1>
<p>
  <strong>Medicare Number:</strong>
  <%= @patient.insuranceDetails.medicareNumber %>
</p>

<p>
  <strong>Medicare Ref:</strong>
  <%= @patient.insuranceDetails.medicareRef %>
</p>

<p>
  <strong>Medicare Expiry:</strong>
  <%= @patient.insuranceDetails.medicareExpiry %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
