<%= form_with(model: room, local: true) do |form| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <label class="control-label">Room Number</label>
        <%= form.text_field :refNb, class: 'form-control rounded' %>
        <p class ="text-danger"><%= room.errors[:refNb][0] %></p>
      </div>

      <div class="col-sm-3">
        <label class="control-label">Department</label>
        <%= form.text_field :department, class: 'form-control rounded' %>
        <p class ="text-danger"><%= room.errors[:department][0] %></p>
      </div>
    </div>
    
    <div class = "container">
      <button type="submit" class="btn btn-primary rounded">Register</button>
    </div>
  </div>

  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

