<p id="notice"><%= notice %></p>

<p>
  <strong>Room #:</strong>
  <%= @room.refNb %>
</p>

<p>
  <strong>Department:</strong>
  <%= @room.department %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
