<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<h1>Triage Queues</h1>
<hr>
<ul id="sortable">
  <% @triage_queue.each do |queue_item| %>
    <li class="bg-light border rounded">
      <input class="queue-id" type="hidden" value="<%= queue_item.id %>"/>
      <span>
        <strong><%= queue_item.patient.fullName %>:</strong> <%= queue_item.notes %>
      </span>
      <span class="float-right">
        <%= link_to 'Remove', queue_item, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Create Booking', :controller => "bookings", :action => "new", :patient => queue_item.patient %>
        <span class="ui-icon ui-icon-caret-2-n-s"></span>
      </span>
    </li>
  <% end %>
</ul>
<hr>
<button type="button" onclick="saveQueueOrder()" class="btn btn-primary">Save Queue Order</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#triageModal">Add New Patient to Queue</button>

<div class="modal fade" id="triageModal" tabindex="-1" role="dialog" aria-labelledby="triageModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%= form_for @queue_item, :url => url_for(controller: "triage_queues", action: :create) do |form| %>
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="triageModal">Notes for Patient Triage</h3>
        </div>
        <div class="modal-body">
          <%= form.collection_select :patient, Patient.where(:id.nin => TriageQueue.all.map(&:patient_id)), :id, :fullName, {}, {class: 'form-control'} %>
          <br>
          <%= form.text_area :notes, class: 'form-control', placeholder: 'Optional'%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Patient to Queue</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>
<p id="notice"><%= notice %></p>

<style>
  #sortable { position: relative; list-style-type: none; margin: 0; padding: 0; width: 60%; left: 20% }
  #sortable li { margin: 3px; padding: 5px;}
</style>
<script>
    $(function() {
        $("#sortable").sortable().disableSelection();
    });

    function saveQueueOrder() {
        $.ajax({
            method: "PUT",
            url: "/triage-queue/reorder",
            data: {
                order: $("#sortable li").map(function() {
                    return $(this).find(".queue-id").val();
                }).get()
            }
        })
    }
</script>
