/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.calendar
 */
#schedule {
  position: relative;
  width:100%;
  top: 70%;
  left: 0px;
  right: 50px;
  bottom: 50px;
  border: 1px solid #bbb;
  height: 500px;
}

#control {
  position: absolute;
  top: 30px;
  height: 23px;
  left: 50px;
  right: 50px;
  margin: 0;
  padding: 0;
}

#date_head {
  position: absolute;
  right: 200px;
  margin: auto;
  text-align: center;
  left: 200px;
}

#filterDiv {
  position: relative;
  float:left;
  margin-bottom:50px;
  margin-top:50px;
}

#controls {
  position: absolute;
  height: 100px;
  right: 0px;
  margin-top:50px;
  padding: 0;
}

#controls ol {
  float:right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #B3B3B3;
  border-radius: 2px;
  overflow: hidden;
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
  height: 38px;
}

#controls ol li {
  float: right;
  padding: 0;
  margin: 0;
  border: 0;
  height:100%;
  background: #CACACA url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAYAAABMDlehAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADlJREFUeNp0y6sNACAAxNALBs0ArM9QbMEnJKiD4jEvNZXtEiRVEBg2LJgwoEN7pbtlSBBBX44AAwARiCdWebcYiAAAAABJRU5ErkJggg==) repeat-x 0 0; /* Old browsers */
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  color: #333;
}

#controls ol li:hover {
  background-color: #C0C0C0;
  color: #000;
}

#controls ol li.on {
  background: #C4C4C4;
  color: #555;
}

#controls ol li button{
  margin: 0;
  background: transparent;
  border: 0;
  border-left: 1px solid #B3B3B3;
  height: 100%;
  padding: 0 10px;
  color: inherit;
  text-shadow: inherit;
  cursor: pointer;
}

#controls ol li:first-child button{
  border-left: 0;
}

#cals{
  float: left;
}

#nav{
  float: right;
}
