<!DOCTYPE html>
<html>
  <head>
    <title>St. Notagilé</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
  </head>

  <body>
    <% if session[:user_id] %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to root_path, class: "btn btn-outline-light", style: "padding: 0" do %>
        <h2><%= image_tag("logo.png", alt: "Logo", width: 30, height: 30, class: "d-inline-block align-top", style: "margin: 5px") %> St. Notagilé</h2>
        <%end %>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <%= button_to 'Triage Queue', '/triage-queue', method: :get, :class => "btn  btn-light"%>
          </li>
          <li class="nav-item">
            <%= button_to 'Patients', '/patients', method: :get, :class => "btn  btn-light" %>
          </li>
          <li class="nav-item">
            <%= button_to 'Rooms', '/rooms', method: :get, :class =>"btn  btn-light" %>
          </li>
          <li class="nav-item">
            <%= button_to 'Bookings', '/bookings', method: :get, :class => "btn  btn-light" %>
          </li>
          <li class="nav-item">
            <%= button_to 'Staff', '/staff', method: :get, :class => "btn  btn-light" %>
          </li>
          <li class="nav-item">
            <%= button_to 'Logout', '/logout', method: :delete, :class => "btn  btn-light" %>
          </li>
        </ul>
      </div>
    </nav>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
